@model WebApp.ViewModels.CreateOrEditProductViewModel
@{
    ViewBag.Title = "Create";
}
<br>
<p>
    @Html.ActionLink("Back To View Categorys", "Index", new { })
</p>

@using (Html.BeginForm( FormMethod.Post))
{
    <h2>Create A New Product</h2>
    <table class="table">
        @Html.HiddenFor(model => model.Category_Id)

        <tr>
            <td>Product Name: </td>
            <td>
                @Html.TextBoxFor(p => p.Name)
                @Html.ValidationMessageFor(p => p.Name)
            </td>
        </tr>
        <tr>
            <td>Category Price: </td>
            <td>
                @Html.TextBoxFor(p => p.Price)
                @Html.ValidationMessageFor(p => p.Price)
            </td>
        </tr>
        <tr>
            <td>Category Description: </td>
            <td>
                @Html.TextBoxFor(p => p.Description)
                @Html.ValidationMessageFor(p => p.Description)
            </td>
        </tr>

    </table>
    <input type="submit" value="Spara" />

}